.add-language-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.general {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.create-or-delete {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 1000px) {
    .general {
        flex-direction: column;
        gap: 5px;
    }
}