@view-transition {
    navigation: auto;
}

body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
}

@media (prefers-color-scheme: light) {
    :root {
        --borders-color: #000000;
        --secondary-color: #828282;
        --action-color: #999900;
        --action-text-color: #ffffff;
        --form-main-color: #228b22;
        --form-secondary-color: #004d00;
        --background-color: #ffffff;
        --text-color: #000000;
        --blocks-background: #ede6e6;
        --transcription-color: #6666ff;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --borders-color: #f7ff2c;
        --secondary-color: #cfcfcf;
        --action-color: #fde910;
        --action-text-color: #000000;
        --form-main-color: #66ff66;
        --form-secondary-color: #09ab3f;
        --background-color: #1a1a1a;
        --text-color: #f5f5f5;
        --blocks-background: #333333;
        --transcription-color: #9999ff;
    }

    body {
        background-color: var(--background-color);
        color: var(--text-color);
    }
}

.invisible {
    display: none !important;
}

header {
    width: 100%;
    max-height: 130px;
    border: var(--borders-color) 2px solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
    box-sizing: border-box;
}

header img.logo {
    width: 80px;
    height: 80px;
}

main:not(.no-margin) {
    margin: 10px;
}

p svg,
a svg {
    vertical-align: text-bottom;
    height: 1.2em;
    width: 1.2em;
}

hgroup > :first-child {
    margin-bottom: 1px;
}
hgroup > :last-child {
    color: var(--secondary-color);
    margin-top: 0;
}

section:not(.no-margin) {
    margin-top: 30px;
}

a {
    color: var(--action-color);
}

.a-button,
button {
    background-color: var(--action-color);
    color: var(--action-text-color);
    border-radius: 10px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1.25em;
    cursor: pointer;
    text-transform: uppercase;
    font-family: sans-serif;
    border: none;
    
    transition-duration: 0.4s;
}
.a-button:hover,
button:hover,
button:active {
    filter: brightness(0.8);
}

form:not(.inline) > input:not(:last-child) {
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="date"],
select {
    width: 100%;
    box-sizing: border-box;
    padding: 12px 15px;
    border: var(--form-main-color) 2px solid;
    border-radius: 4px;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 1rem;

    transition: border-color 0.3s ease;
}
textarea {
    resize: vertical;
    min-height: 50px;
    max-height: 200px;
    width: 100%;
    box-sizing: border-box;
    border: var(--form-main-color) 2px solid;
    border-radius: 4px;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;

    transition: border-color 0.3s ease;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
select:focus,
textarea:focus {
    outline: none;
    border-color: var(--form-secondary-color);
}

select:disabled {
    opacity: 0.5;
}
input:disabled,
input:read-only:not([type="submit"]) {
    opacity: 0.5;
}

input[type="submit"] {
    background-color: var(--form-main-color);
    color: var(--action-text-color);
    border: none;
    padding: 12px 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1.25em;
    font-weight: bold;

    transition: background-color 0.3s ease;
}
input[type="submit"]:hover,
input[type="submit"]:focus {
    outline: none;
    background-color: var(--form-secondary-color);
}

label:has(input[type="checkbox"]) {
    font-size: 24px;
    display: flex;
    text-decoration: underline;
    cursor: pointer;
}
input[type="checkbox"] {
    width: 24px;
    height: 24px;
}

form.inline {
    display: flex;
    flex-wrap: row wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.error-window {
    border: #ff2b2b 2px solid;
    background-color: #ffc7c7;
    color: #000000;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.2rem;
}
.success-window {
    border: #66ff00 2px solid;
    background-color: #c2ff99;
    color: #000000;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.2rem;
}
.error-window > p > svg,
.success-window > p > svg {
    vertical-align: middle;
    width: 45px;
    height: 45px;
    margin-right: 15px;
}

article {
    box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.3), 
                0px 1px 3px 1px rgba(60, 64, 67, 0.15);
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    table-layout: fixed;
}
th, td {
    border: var(--borders-color) 1px solid;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.button-activated {
    filter: brightness(0.4);
    pointer-events: none;
}

@media screen and (prefers-color-scheme: dark) {
    article {
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5), 
        0px 2px 6px 2px rgba(0, 0, 0, 0.3);
    }
}